:root {
  --primary: #001765;
  --secondary: #3e8ad6;
  --tertiary: #e7edf9;
  --white: #ffffff;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--secondary);
  background-color: var(--tertiary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: var(--secondary);
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: var(--primary);
  background-color: var(--tertiary);
}

h2 {
  font-size: 3.2em;
  line-height: 1.1;
  background: linear-gradient(
    40deg,
    var(--primary),
    var(--primary),
    var(--secondary),
    var(--secondary),
    var(--primary),
    var(--primary)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 20;
}

h3 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--primary);
}

button {
  white-space: nowrap;
}

button:hover {
  background-color: var(--primary);
  color: var(--tertiary);
}

button.MuiButton-contained {
  background-color: var(--secondary);
}

button.MuiButton-text {
  color: var(--secondary);
  &:hover {
    color: var(--secondary);
    text-decoration: underline;
  }
}

#pets {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pets menu {
  margin: 1rem 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  list-style: none;
  justify-content: space-between;
  width: 60vw;
}

#pets menu button:hover {
  background-color: var(--primary);
  color: var(--tertiary);
  text-decoration: none;
}

#pets menu button.active {
  background-color: var(--secondary);
  color: var(--tertiary);
}

#tab-content {
  padding: 1rem;
  border-radius: 6px;
  background-color: var(--primary);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  color: var(--tertiary);
  width: 60vw;
}

#tab-content h3 {
  margin: 0;
}

#question-options {
  margin: 1rem 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  list-style: none;
  z-index: 20;
}

#progress {
  position: absolute;
  bottom: 5vh;
  left: 50vw;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: row;
  gap: 2vw;
  align-items: flex-end;
}

#progress-bar {
  background-color: var(--white);
  width: 8vw;
  border-radius: 6px;
  z-index: 1;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 20;
  background-color: var(--secondary);
  min-width: 100vw;
  color: var(--white);
  height: 72px;
  align-items: center;
  justify-content: center;
}

#navlink {
  height: 44px;
  width: 72px;
  display: grid;
  place-items: center;
  color: var(--white);
  border-radius: 6px;
}

#navlink.active {
  background-color: var(--primary);
}

#linear-progress {
  position: fixed;
  top: 100px;
  left: 10vw;
  display: flex;
  z-index: 20;
  width: 80vw;
  border-radius: 5px;
}
